.wrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.title {
  font-weight: 600;
  font-size: 36px;
  color: #5d5d5d;
}
.description {
  font-size: 14px;
  color: #5d5d5d;
  width: 200px;
  margin-left: 300px;
  margin-top: 43px;
}
.bold {
  font-size: 14px;
  font-weight: 600;
  color: #5d5d5d;
}
.description-wrapper {
  flex-direction: row;
  display: flex;
}

.game {
  width: 600px;
  position: relative;
}

.score-wrapper {
  width: 600px;
  display: flex;
}

.high-score {
  font-size: 14px;
  color: #5d5d5d;
  align-self: flex-end;
}

.current-score {
  font-weight: 600;
  font-size: 14px;
  color: #5d5d5d;
  margin-left: 10px;
  align-self: flex-end;
}

.restart {
  position: absolute;
  top: 70px;
  z-index: 100;
  cursor: pointer;
  left: 300px;
}

.draw-btn {
  cursor: pointer;
  background-color: white;
  border: none;
  margin-top: 70px;
  position: relative;
}

.dino-btn {
  cursor: pointer;
  background-color: white;
  border: none;
  margin-top: 70px;
  position: relative;
}

.gamemode-wrapper {
  display: flex;
  flex-direction: row;
  margin-right: 500px;
}

.trex {
  width: 50px;
  height: 50px;
  margin-bottom: 10px;
}

.palette {
  width: 45px;
  height: 45px;
}
