#dino {
	top:90px;
	position:absolute;
	left: 100px;
}
.jump {
	animation: jump 1s ease;
}

@keyframes jump {
  0% {
    top: 90px;
  }
  50% {
    top: 20px;
  }
  75% {
    top: 20px;
  }
  100% {
    top: 90px;
  }
}