#dino {
  top: 90px;
  position: absolute;
  left: 100px;
  width: 40px;
  height: 44px;
}
.jump {
  animation: jump 1s ease;
}

@keyframes jump {
  0% {
    top: 90px;
  }
  50% {
    top: 20px;
  }
  75% {
    top: 20px;
  }
  100% {
    top: 90px;
  }
}
